<a href="https://colab.research.google.com/github/faizdifak/faizdifakalgorit/blob/master/week8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Latihan 1
list
#adalah kumpulan elemen atau kata yang bisa berupa berbagai tipe yang dapat diubah(mutable)
#list dapat merubah kata,remove,duplikat,dan mengurutkan elemen tetap
#sintaksnya:
my_list = [1, 2, 3, 'a', 'b', 'c']

tuple
#adalah kumpulan elemen atau kata yang bisa berbagai tipe data yang tidak bisa diubah(immutable)
#tuple dapat menampung duplikat,elemen tidak dapat dirubah,urutan elemen tetap
#sintaknya:
my_tuple = (1, 2, 3, 'a', 'b', 'c')
#contoh penggunaanya

set
#adalah kumpulan elemen unik yang tidak tidak terurut dan tidak diindeks
#set tidak bisa menamapung duplikat,elemen dapat dirubah,elemen tetap
#sintaknya:
my_set = {1, 2, 3, 'a', 'b', 'c'}

dictionary
#adalah kumpulan pasangan kunci-nilai(key-value) yang tidak terurut dan tidak diindeks
#dictonary nilai dapat diubah,kunci harus unik,urutan elemen tetap
#sintaknya:
my_dict = {'key1': 'value1', 'key2': 'value2'}

['Magelang', 'informasi', 4, 5, True]

In [3]:
#contoh penggunaan list
list = ["Magelang", "bunga", "merah", "putih"]
print(list)

['Magelang', 'bunga', 'merah', 'putih']

In [5]:
print(list[2]) # untuk mencari data ke dua dari data

merah

In [6]:
# untuk penggantian data
list[0]="Sejuta"
print(list)

['Sejuta', 'bunga', 'merah', 'putih']

In [7]:
#contoh penggunaan Tuple
tuple = ("magelang", "bunga", "merah", "putih")
print(tuple)

('magelang', 'bunga', 'merah', 'putih')

In [8]:
print(tuple[3]) #untuk mencari data ke tiga

putih

In [26]:
#untuk penggantian data di tuple tidak bisa mengganti data yang sudah ada maka output error
tuple[0]= "magelang"

TypeError: 'tuple' object does not support item assignment

In [18]:
#contoh penggunaan set
set = {"Magelang","Magelang", "Bunga", "Merah"} # dalam penggunaan set yang diotput jika ada data yg sama makan akan ditulis hanya 1
print(set)

{'Magelang', 'Bunga', 'Merah'}

In [25]:
#contoh penggunaan dictionary
dict = {
    "nama" : "Faiz",
    "Rombel" : "1",
    "prodi" : "TI",
    "NPM" : "2420506022"
    }

print(dict["nama"]) #Untuk pengambilan data yang diinginkan
print(dict["NPM"])

Faiz
2420506022

In [28]:
# Latihan 2 Program untuk mengelola dan menampilkan data mahasiswa
mahasiswa = {
    "Nama"          : "Faiz Difa Kurniawan",
    "Kelas"         : "1",
    "Tanggal Lahir" : "24 November 2005",
    "No HP"         : "083144667083",
    "Alamat"        : "Perum Jembewangi,secang",
    "Hobi"          : ["1.Badminton", "2.game", "3.lari"]
}
urut = max(len(key) for key in mahasiswa.keys()) # untuk merapikan titik dua

for key, value in mahasiswa.items():     #perulangan data mahasiswa
    if key == "Hobi":
        print(f"{key.ljust(urut)} :")
        for hobi in value:
            print(f"{' '.ljust(urut)}    {hobi}")
    else:
        print(f"{key.ljust(urut)} : {value}")

Nama          : Faiz Difa Kurniawan
Kelas         : 1
Tanggal Lahir : 24 November 2005
No HP         : 083144667083
Alamat        : Perum Jembewangi,secang
Hobi          :
                 1.Badminton
                 2.game
                 3.lari